.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Para asegurarse de que ocupe toda la altura del contenedor */
}